    * {
        margin: 0;
        padding: 0;
    }
    
    h2 {
        padding-top: 5%;
        text-align: center;
        padding-bottom: 15px;
        font-size: 50px;
    }
    
    p {
        text-align: center;
        padding-bottom: 15px;
    }
    
    .form {
        margin: auto;
        padding: auto;
        text-align: center;
        position: relative;
    }
    
    .box {
        list-style: none;
        padding: 5px;
    }
    
    .label {
        padding-top: 10px;
        list-style: none;
        font-size: 30px;
    }
    
    input[type=text],
    select {
        /* width: 30%; */
        width: 100%;
        max-width: 550px;
        height: 20px;
        resize: vertical;
    }
    
    button {
        background-color: #E4E4E4;
        font-family: 'Abigail';
        font-size: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }
    
    button:hover {
        background-color: #94A7BB;
    }
    
    .invalid {
        border-color: red;
        outline: 0.5px solid red;
        border-radius: 4px;
    }